<div class="container py-3">
    <header>
      <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <kbd>Q</kbd>
          <span class="fs-4">uien Soy</span>
        </a>
  
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" routerLink="/home">Volver</a>
        </nav>
      </div>
  
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Michelle M. Charotti</h1>
        
      </div>
    </header>
  
    <main>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <img src="../../../assets/photo5147716259754911962.jpg" width="150" height="150" class="me-2" ><title>Foto</title>
            <p class="fs-5 text-muted">Email: michellecharotti@gmail.com</p>
            <p class="fs-5 text-muted">Materia: Laboratorio IV</p>
            <p class="fs-5 text-muted">Curso:4A</p>
            <p class="fs-5 text-muted">Turno: Mañana</p>

            <p class="fs-4">Juego propio: proximamente</p>
          </div>
        
     
        
    </main>
  
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="row">
        <div class="col-12 col-md">
          <small class="d-block mb-3 text-muted">&copy; 2022</small>
        </div>
      </div>
    </footer>
  </div>
